<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/js/scripts.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <nav>
          <img
            src="/assets/images/logo.png"
            alt="Logo Image of Initials, F.R."
            class="logo"
          />
          <ul id="sidemenu">
            <li><a href="#header">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
            <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
          </ul>
          <i class="fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>
        <div class="header-text">
          <p>Personal projects, CV details and contact information</p>
          <h1>Hi, I'm <span>Fergal</span><br />Welcome to my Portfolio</h1>
        </div>
      </div>
    </div>
    <!----------------about------------------>
    <div id="about">
      <div class="container">
        <div class="row">
        <div class="about-col-1">
          <img src="/assets/images/profile-photo.jpeg" alt="">
        </div>
        <div class="about-col-2">  
          <h1 class="sub-title">About Me</h1>
          <p>I'm a recent graduate from Trinity College Dublin with a First-Class Honours Master's degree in Electronic and Computer Engineering. At present, I work as an AI Freelancer with Data Annotation Tech, training programming chatbots through RLHF.</p>
          <p><br>This website is intended as a means of showcasing my software projects, ranging from my Master's thesis to ongoing personal projects.</p>
          <div class="tab-titles">
            <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
            <p class="tab-links" onclick="opentab('experience')">Experience</p>
            <p class="tab-links" onclick="opentab('education')">Education</p>
          </div>
          <div class="tab-contents active-tab" id="skills">
            <ul>
              <li><span>Machine Learning</span><br>Generative AI, Natural Language Processing, Feature Engineering</li>
              <li><span>Embedded Systems</span><br>Robotics, IoT, Cyber-Physical Systems</li>
              <li><span>Electronics</span><br>Digital Electronics, Digital System Design, FPGAs</li>
            </ul>
          </div>
          <div class="tab-contents" id="experience">
            <ul>
              <li><span>2023 - Current</span><br>Data Annotation Tech, Remote</li>
              <li><span>2022 - 2023</span><br>Control Team, Formula Trinity Autonomous</li>
            </ul>
          </div>
          <div class="tab-contents" id="education">
            <ul>
              <li><span>2023 - 2024</span><br>MAI Electronic & Computer Engineering, Trinity College Dublin</li>
              <li><span>2019 - 2023</span><br>BAI Electronic & Computer Engineering, Trinity College Dublin</li>
              <li><span>2013 - 2019</span><br>Leaving Certificate, Christian Brothers College Cork</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!----------------portfolio------------------>
    <div id="portfolio">
      <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
          <!---Existing work items-->
          <div class="work">
            <img src="/assets/images/work-1.png" alt="">
            <div class="layer">
              <h3>CycleGAN for Day-to-Night Image Translation</h3>
              <p>My Master's thesis focused on deep learning for day-to-night image translation and synthetic time-lapse generation.</p>
              <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
          <div class="work">
            <img src="/assets/images/work-2.png" alt="">
            <div class="layer">
              <h3>PartyBot IoT Device</h3>
              <p>An IoT project completed as part of my Master's programme, building a prototype of an IoT device for party games and interactive language learning.</p>
              <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
          <div class="work">
            <img src="/assets/images/work-3.JPG" alt="">
            <div class="layer">
              <h3>Photography Website</h3>
              <p>An ongoing personal project developing a website to showcase my photography.</p>
              <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
          <div class="work hidden">
            <img src="/assets/images/work-3.JPG" alt="">
            <div class="layer">
              <h3>New Project Title</h3>
              <p>An ongoing personal project developing a website to showcase my photography.</p>
              <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
        <a href="#" class="btn" id="toggleWork">See More</a>
      </div>
    </div>
    <!-----------------contact------------------->
    <div id="contact">
      <div class="container">
        <div class="row">
          <div class="contact">
            <h1 class="sub-title">Contact Me</h1>
            <p><i class="fa-solid fa-envelope"></i> fergalriordan333@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i> +353 838754381</p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/fergal-riordan/"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://github.com/fergalriordan"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        </div>
        <a href="/assets/documents/CV.pdf" download class="btn btn2">Download CV</a>
      </div>
    </div>
    <!---------------copyright------------------->
    <div class="copyright">
      <p>&copy; 2025 Fergal Riordan. All rights reserved.</p>
    </div>

  </body>
</html>
